body{
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border-radius: 10px;
    background-color: aliceblue;
    width: 1200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.botao{
    font-size: 18px;
    width: 240px;
    height: 80px;
    border-radius: 10px;
    background-color: aquamarine;
    transition: all 1s;
}

.botao:hover{
    transform: scale(0.9);
    background-color: aqua;
}



